<p> <%= @movie_title%></p>
<p> <%= @movie_year %></p>
<p> <%= @movie_runtime %></p>
<p> <%= @movie_genre %></p>
<p> <%= @movie_actors %></p>
<p> <%= @movie_award %></p>
<div> <img src=<%= @movie_image %> alt="MOVIE" height:"300" width="300"> </div>
